.slider {
    border: thin solid purple;
    height: 300px;
    position: relative;
    width: 100%;
}

.slide {
    height: 100%;
    position: absolute;
    width: 100%;
}
.slide.left {
    left: -100%;
}
.slide.right {
    left: 100%;
}

.page {
    height: 100%;
    width: 100%;
}

#a {
    background-color: red;
}
#b {
    background-color: blue;
}
#c {
    background-color: green;
}
#d {
    background-color: yellow;
}
.hidden {
    display: none;
}